{% extends 'base.html' %}

{% block content%}
{% load static %}



   <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Blog Details</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================

        Blog Area
    ==============================-->
    <section class="vs-blog-wrapper blog-details space-top space-md-bottom">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="vs-blog blog-single">
                        <div class="blog-image">
                            <img src="assets/img/blog/blog-details-1.jpg" alt="Blog Image">
                            <div class="blog-category">
                                <a href="blog.html">Fast Food</a>
                            </div>
                        </div>
                        <div class="blog-header">
                            <h2 class="blog-title h1">Competently supply customized initiatives whereas sources with mission</h2>
                            <div class="blog-meta">
                                <a href="#"><i class="fal fa-eye"></i>232 Views</a>
                                <a href="#"><i class="fal fa-comments"></i>17 Comments</a>
                                <a href="#"><i class="fal fa-calendar-alt"></i>22 June, 2022</a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <p>Authoritatively fabricate multidisciplinary resources with mission-critical schemas. Energistically productize ubiquitous value for excellent supply chains. Progressively expedite enterprise-wide networks rather than end-to-end relationships.</p>
                            <h3 class="h4">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</h3>
                            <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                            <div class="row mt-30">
                                <div class="col-xl-8 mb-30">
                                    <img src="assets/img/blog/blog-details-2.jpg" alt="Blog Details Image" class="w-100">
                                </div>
                                <div class="col-xl-4">
                                    <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dapibus ac facilisis in, egestas eget quam.</p>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <blockquote>
                                <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                <cite>William Henry Deko</cite>
                            </blockquote>
                            <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <p>sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        </div>
                        <div class="share-links clearfix my-60">
                            <div class="row align-items-xl-center">
                                <div class="col-sm-6">
                                    <span class="fs-xs fw-semibold text-title me-3">Tags:</span>
                                    <div class="tagcloud">
                                        <a href="#">Smoothie</a>
                                        <a href="#">Been</a>
                                        <a href="#">Cheese</a>
                                    </div>
                                </div>
                                <div class="col-sm-6  text-start text-md-end">
                                    <span class="fs-xs fw-semibold text-title me-3">Social Network:</span>
                                    <ul class="blog-social list-unstyled">
                                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="instagram" href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                    </ul><!-- End Social Share -->
                                </div><!-- Share Links Area end -->
                            </div>
                        </div>
                        <div class="blog-author d-md-flex my-60">
                            <div class="media-image mb-3 mb-md-0 mr-30">
                                <img src="assets/img/blog/blog-author.jpg" alt="Blog Author Image">
                            </div>
                            <div class="media-body">
                                <p class="author-degi">Admin</p>
                                <h4 class="author-name">Sabel Smith</h4>
                                <p class="author-text mb-0">technology strategy and the roadmap to implement that? The leaders are owning their own data, refreshing it constantly and, more importantly, using it to inform the business decisions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="related-post-wrapper pt-40">
                        <h2 class="inner-title1 h1">Relatetd <span class="text-theme">Post</span></h2>
                        <div class="row text-center vs-carousel" data-slide-show="3" data-lg-slide-show="2">
                            <div class="col-lg-4">
                                <div class="vs-blog blog-grid">
                                    <div class="blog-img image-scale-hover">
                                        <a href="blog-details.html"><img src="assets/img/blog/related-post-1.jpg" alt="Blog Image" class="w-100"></a>
                                    </div>
                                    <div class="blog-content">
                                        <h4 class="blog-title fw-semibold"><a href="blog-details.html">Keep Your Fruits frash</a></h4>
                                        <div class="blog-meta">
                                            <a href="blog-details.html">January 04, 2022</a>
                                            <a href="blog-details.html">5 Views</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="vs-blog blog-grid">
                                    <div class="blog-img image-scale-hover">
                                        <a href="blog-details.html"><img src="assets/img/blog/related-post-2.jpg" alt="Blog Image" class="w-100"></a>
                                    </div>
                                    <div class="blog-content">
                                        <h4 class="blog-title fw-semibold"><a href="blog-details.html">Letrase traner sheets</a></h4>
                                        <div class="blog-meta">
                                            <a href="blog-details.html">July 04, 2022</a>
                                            <a href="blog-details.html">22 Views</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="vs-blog blog-grid">
                                    <div class="blog-img image-scale-hover">
                                        <a href="blog-details.html"><img src="assets/img/blog/related-post-3.jpg" alt="Blog Image" class="w-100"></a>
                                    </div>
                                    <div class="blog-content">
                                        <h4 class="blog-title fw-semibold"><a href="blog-details.html">Some cla lorem ipsum</a></h4>
                                        <div class="blog-meta">
                                            <a href="blog-details.html">Augest 04, 2022</a>
                                            <a href="blog-details.html">12 Views</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vs-comment-area list-style-none vs-comments-layout1 pt-70 ">
                        <h3 class="h2 inner-title1">Comments(03)</h3>
                        <ul class="comment-list">
                            <li class="vs-comment">
                                <div class="vs-post-comment">
                                    <div class="author-img">
                                        <img src="assets/img/blog/comment-author-1.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <h4 class="name h5">Mark Jack</h4>
                                        <span class="commented-on">22 April, 2022</span>
                                        <p class="text">Progressively procrastinate mission-critical action items before team building ROI.
                                            Interactively provide access to cross functional quality vectors for client-centric catalysts for change.
                                        </p>
                                        <div class="reply_and_edit">
                                            <a href="blog-details.html" class="replay-btn"><i class="fas fa-reply"></i>Replay</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="vs-comment">
                                        <div class="vs-post-comment">
                                            <div class="author-img">
                                                <img src="assets/img/blog/comment-author-2.jpg" alt="Comment Author">
                                            </div>
                                            <div class="comment-content">
                                                <h4 class="name h5">John Deo</h4>
                                                <span class="commented-on">23 April, 2022</span>
                                                <p class="text">Competently provide access to fully researched methods of empowerment without sticky models. Credibly morph front-end niche markets.</p>
                                                <div class="reply_and_edit">
                                                    <a href="blog-details.html" class="replay-btn"><i class="fas fa-reply"></i>Replay</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="vs-comment">
                                <div class="vs-post-comment">
                                    <div class="author-img">
                                        <img src="assets/img/blog/comment-author-1.jpg" alt="Comment Author">
                                    </div>
                                    <div class="comment-content">
                                        <h4 class="name h5">Tara sing</h4>
                                        <span class="commented-on">26 April, 2022</span>
                                        <p class="text">Competently provide access to fully researched methods of empowerment without sticky models. Credibly morph front-end niche markets whereas 2.0 users. Enthusiastically seize team.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- Comment Form -->
                    <div class="vs-comment-form mt-60 mb-30 ">
                        <div class="form-title">
                            <h3 class="h4 mb-lg-4 pb-lg-3">Leave a Reply</h3>
                        </div>
                        <div class="row g-2">
                            <div class="col-12 form-group mb-0">
                                <textarea placeholder="Write a Message" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 form-group mb-0">
                                <input type="text" placeholder="Your Name" class="form-control">
                            </div>
                            <div class="col-md-6 form-group mb-0">
                                <input type="text" placeholder="Your Email" class="form-control">
                            </div>
                            <div class="col-12 form-group mb-0 pt-20">
                                <button class="vs-btn rounded-1">Send Replay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <aside class="sidebar-area sticky-sidebar">
                        <div class="widget widget_search   ">
                            <h3 class="widget_title">Search</h3>
                            <form class="search-form">
                                <input type="text" placeholder="Search">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories   ">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                <li>
                                    <a href="#">Juice</a>
                                    <span>(06)</span>
                                </li>
                                <li>
                                    <a href="#">Fresh</a>
                                    <span>(10)</span>
                                </li>
                                <li>
                                    <a href="#">Smoothie</a>
                                    <span>(06)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="widget   ">
                            <h3 class="widget_title">Latest Posts</h3>
                            <div class="vs-widget-recent-post">
                                <div class="recent-post d-flex align-items-center">
                                    <div class="media-img">
                                        <img src="assets/img/widget/recent-1.jpg" width="100" height="73" alt="Recent Post Image">
                                    </div>
                                    <div class="media-body pl-30">
                                        <h4 class="recent-post-title h5 mb-0"><a href="blog.html">100% organic healthy</a></h4>
                                        <a href="#" class="text-theme fs-12">January 04, 2022</a>
                                    </div>
                                </div>
                                <div class="recent-post d-flex align-items-center">
                                    <div class="media-img">
                                        <img src="assets/img/widget/recent-2.jpg" width="100" height="73" alt="Recent Post Image">
                                    </div>
                                    <div class="media-body pl-30">
                                        <h4 class="recent-post-title h5 mb-0"><a href="blog.html">Keep Your Fruits frash</a></h4>
                                        <a href="#" class="text-theme fs-12">March 04, 2022</a>
                                    </div>
                                </div>
                                <div class="recent-post d-flex align-items-center">
                                    <div class="media-img">
                                        <img src="assets/img/widget/recent-3.jpg" width="100" height="73" alt="Recent Post Image">
                                    </div>
                                    <div class="media-body pl-30">
                                        <h4 class="recent-post-title h5 mb-0"><a href="blog.html">Get natural healthy food</a></h4>
                                        <a href="#" class="text-theme fs-12">April 04, 2022</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_tag_cloud   ">
                            <h3 class="widget_title">Popular Tags</h3>
                            <div class="tagcloud">
                                <a href="blog.html">Healthy</a>
                                <a href="blog.html">Smoothie</a>
                                <a href="blog.html">Been</a>
                                <a href="blog.html">Juice</a>
                                <a href="blog.html">Vegetable</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}  
