{% extends 'base.html' %}

{% block content%}
{% load static %}


<!--==============================
    Breadcumb

============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">FAQ</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">FAQ</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    FAQ Area

    ==============================-->
    <section class="vs-faq-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-5">
                    <div class="section-title mb-0 mb-lg-4 pb-1">
                        <h2 class="sec-title1">Why we are</h2>
                        <h3 class="sec-title2">the best</h3>
                        <img src="assets/img/icons/sec-icon-1.png" alt="Section Icon">
                        <p class="fs-xs fst-italic fw-bold mt-lg-4 pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</p>
                    </div>
                    <ul class="faq-list fs-xs list-unstyled faq-list fs-xs list-unstyled mb-0 mb-lg-4 pb-3">
                        <li><strong>Aenean vehicula odio eget elit placerat consectetur.</strong></li>
                        <li><strong>Integer at tortor cursus arcu faucibus accumsan.</strong></li>
                        <li><strong>Vestibulum cursus purus at ligula posuere, viverra vehicula justo </strong></li>
                    </ul>
                    <ul class="faq-list fs-xs list-unstyled mb-30">
                        <li><strong>Sed vel neque nec ligula sodales venenatis.</strong></li>
                        <li><strong>Sed in erat ullamcorper, ullamcorper nulla vel, congue justo.</strong></li>
                        <li><strong>Curabitur interdum ipsum interdum lectus porttitor tristique.</strong></li>
                    </ul>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="vs-accordion accordion-style2">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <h3 class="accordion-title fw-semibold">01 . Marketing Is A Company’s Ultimate Objective?</h3>
                            </div>
                            <div class="accordion-body">
                                <p class="accordion-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <h3 class="accordion-title fw-semibold">02 . It’s Better To Be First In The Mind Than To Be First In The Marketplace?</h3>
                            </div>
                            <div class="accordion-body">
                                <p class="accordion-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <h3 class="accordion-title fw-semibold">03 . Positioning Is What You Do To The Mind Of The Prospect?</h3>
                            </div>
                            <div class="accordion-body">
                                <p class="accordion-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
