{% extends 'base.html' %}

{% block content%}
{% load static %}


    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title"> Meet The Team </h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Team</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Team Area
  ============================== -->
    <section class="vs-team-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-1.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Miller Maria</h3>
                            <span class="text-theme degi">Founder Oars Store</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-2.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Red Pokerl</h3>
                            <span class="text-theme degi">Co - Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-3.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Roshe Utla</h3>
                            <span class="text-theme degi">Marketer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-4.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Jon Tramp</h3>
                            <span class="text-theme degi">Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-5.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Markel Tomy</h3>
                            <span class="text-theme degi">Senior Chef</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-6.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">John Smith</h3>
                            <span class="text-theme degi">Food Chef</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-7.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Vivi Marian</h3>
                            <span class="text-theme degi">Senior Water</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="assets/img/team/team-1-8.png" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Moris Jonson</h3>
                            <span class="text-theme degi">Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 
